flask==3.0.3
flask-cors==4.0.1
python-dotenv==1.0.1
mysql-connector-python==8.4.0
requests==2.32.3
gunicorn==22.0.0
langchain==0.3.16
langchain-core==0.3.28
langchain-groq==0.2.1
langchain-community==0.3.16
langchainhub==0.1.21
